
$colorOne: #1AC6FF;
$width: 1140px;




  #tabs{
    width: 100%;
    background-color:white;
    margin: 0 auto;
    text-align: center;
    .tab{
      border: 1px solid #E9E9E9;
      border-radius: 0;
      background-color: white;
      padding: 15px 0 10px 0;
      margin-top: 60px;
    }  
      .tab:focus{
        background-color: $colorOne;
        color: white;
      } 
}